<script src="/js/Editar Plantilla/left-menu.js"></script>
<script src="/js/Editar Plantilla/poppers.js"></script>
<script src="/js/Editar Plantilla/EditorTexto/editor.js"></script>
<script src="/js/Editar Plantilla/EditorTexto/jscolor.min.js"></script>

<script src="/js/Secciones/Tabla/generar-tabla.js"></script>
<script src="/js/Secciones/Tabla/nulls-tabla.js"></script>

<script src="/js/index-crear.js"></script> 
</body>
</html>