.plantilla__preguntaA{
    display: block;
}

.preguntaA__titulo{
    color: var(--background-objetos);
}

.preguntaA__numpregunta{
    color: var(--background-objetos);
}

.preguntaA__textareadiv{
    display: flex;
    justify-content: center;
}

.PreguntaA__caja{
    width: 80%;
    min-height: 50vh;
    height: auto;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--background-objetos);
    box-shadow:  10px 15px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
    margin-top: 2rem;
}

.preguntaA__respuestadiv{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.preguntaA__respuestadiv label
{
    width: auto;
    margin-right: 15px;
}

.preguntaA__numrespuesta{
    color: var(--background-objetos);
}