.plantilla__preguntaM{
    display: block;
}

.preguntaM__titulo{
    color: var(--background-objetos);
}

.preguntaM__numpregunta{
    color: var(--background-objetos);
}

.PreguntaM__caja{
    width: 80%;
    min-height: 50vh;
    height: auto;
    padding: 0.5rem;
    border-radius: 15px;
    background-color: var(--background-objetos);
    box-shadow:  10px 15px 2px 1px rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
}

.preguntaM__caja{
    width: 80%;
    border-radius: 15px;
    color: var(--background-objetos);
}

.preguntaM__respuestadiv{
    display: flex;
    margin-top: 15px;
    padding: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.preguntaM__numrespuesta{
    color: var(--background-objetos);
}

.preguntaM__respuestasdiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}